.container-fluid{
    background-color: blueviolet;
    color: white;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    text-align: center;
    height: 7vh;
    padding-top: 2%;
}

h5{
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
    margin-bottom: 1%;
}

.subtitle{
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 4%;
    margin-bottom: 10%;
    font-size: 20px;
}

.button{
    justify-content: center;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 8%;
    font-family: 'Roboto', sans-serif;
}

.box-movie{
    display: block;
    width: 400px;
    height: 400px;
    padding-right: 0px;
}

#carrosel-series .series{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 26px;
    margin-top: -20px;
    margin-left: 15px;
    margin-bottom: 9px;
}
